<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/echarts.js"></script>
    <script src="../static/js/worldcloud.js"></script>
</head>
<body>
    <div class="commentlist" style="height: 300px;" id="mycloud"></div>
    <script src="../static/js/ciyun.js">
    </script>
    <script type="text/javascript">
           $(function(){
            echartsCloud();
        });
    </script>
</body>
</html>